services:
  db:
    image: postgres:16
    container_name: hw_kpo3-db-1
    environment:
      POSTGRES_USER: "gleboss"
      POSTGRES_PASSWORD: "adminadmin"
      POSTGRES_DB: "postgres"
    ports:
      - "5440:5432"          # чтобы ты мог подключаться psql с хоста
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  storage:
    build: .
    image: antiplag-app
    command: ["./storage"]
    environment:
      CONFIG_PATH: "/app/config/local.yaml"
      STORAGE_DB_DSN: "postgres://gleboss:adminadmin@db:5432/antiplag_storage?sslmode=disable"
    ports:
      - "8081:8081"
    depends_on:
      - db
    restart: unless-stopped

  analysis:
    build: .
    image: antiplag-app
    command: ["./analysis"]
    environment:
      CONFIG_PATH: "/app/config/local.yaml"
      ANALYSIS_DB_DSN: "postgres://gleboss:adminadmin@db:5432/antiplag_analysis?sslmode=disable"
    ports:
      - "8069:8069"
    depends_on:
      - db
    restart: unless-stopped

  gateway:
    build: .
    image: antiplag-app
    command: ["./gateway"]
    environment:
      CONFIG_PATH: "/app/config/local.yaml"
      STORAGE_BASE_URL: "http://storage:8081"
      ANALYSIS_BASE_URL: "http://analysis:8069"
      GATEWAY_ADDRESS: "0.0.0.0:8052"
    ports:
      - "8052:8052"
    depends_on:
      - storage
      - analysis
    restart: unless-stopped

volumes:
  postgres-data:
