services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: "gleboss"
      POSTGRES_PASSWORD: "adminadmin"
      POSTGRES_DB: "postgres"
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./init:/docker-entrypoint-initdb.d
volumes:
  postgres-data: